
.button {
    background-color: transparent;
    border: none;
}

.button--add, .button--delete, .button--edit  {
    display: block;
    max-height: 100%;
}

.button--add img,
.button--delete img,
.button--edit img {
    max-height: 20px;
}


